main .container {
}

main .tweets {
  margin-top: 20px;
  border-radius: 10px;
}

article.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  margin: 15px;
  border: 0.5px solid lightgrey;
}

article.tweet:hover {
  border: 1px solid darkgrey;
}

article.tweet:hover .icons{
  margin-left: auto;
  display: inline;
}


article.tweet header {
  flex-direction: column;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-between;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgrey;
  padding: 10px;
  display: flex;
}

article.tweet header span.avatar {
  display: flex;
}

article.tweet header span.name {
  position: relative;
  bottom: 10px;
  margin-right: 45px;
  display: flex;
}

article.tweet header span.handle {
  display: flex;
}

article.tweet div.content {
  background-color: white;
  word-wrap: break-word;
  display: flex;
  padding: 10px;
  flex-grow: 1;
}

article.tweet footer.created_at {
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0.5px solid lightgray;
  display:flex;
  flex-grow: 1;
}

article.tweet .icons{
  display: none;
}